.main-menu__city-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: stretch;
}

.city-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.city-wrapper__delete {
  display: none;
  width: 2rem;
  filter: drop-shadow(1px 1px 5px #000);
  color: #f13c3c;
  cursor: pointer;
}
.city {
  flex: 1;
  width: auto;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  box-shadow: 1px 1px 5px #0000004d;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  cursor: pointer;
  flex-grow: 1;
  background-size: cover;
  background-position: 50% 25%;
  text-shadow: 1px 1px 5px #000;
}

.city__left-column {
  height: 100%;
}

.city__name {
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.city__condition {
  margin-top: 2rem;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.city__right-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.city__temperature {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: right;
}
