// .main-menu__search-results {
//   position: absolute;
//   left: 0;
//   right: 0;
//   border-bottom-right-radius: 6px;
//   border-bottom-left-radius: 6px;
//   z-index: 2;
//   transform: translateZ(100px);
//   cursor: pointer;
// }

// .search-result__name {
//   font-size: 1.25rem;
//   font-weight: 400;
// }
