.main-menu {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__heading {
    font-size: 3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: $text-shadow;
  }

  &__edit {
    background-color: transparent;
    color: $font-color;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    text-shadow: $text-shadow;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0.5rem;
    border: none;
  }

  &__search-bar {
    width: 100%;
    position: relative;
  }

  &__search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    border-radius: $border-radius;
    border: none;
  }
}

.main-menu__search-results {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 2;
  transform: translateZ(100px);
  cursor: pointer;
  background-color: black;
}

.search-result {
  padding: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 225, 0.2);
}

.search-result__name {
  font-size: 1.25rem;
  font-weight: 400;
}
