.main-menu__search-results {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 2;
  transform: translateZ(100px); //iOS Hack
  cursor: pointer;
  background-color: black;
}

.main-menu__search-results--hidden {
  display: none;
}

.search-result {
  padding: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 225, 0.2);

  &:hover {
    background-color: $elevation-2;
    color: $font-color;
  }
}

.search-result__name {
  font-size: 1.25rem;
  font-weight: 400;
}
