.mini-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  text-shadow: $text-shadow;
}

.mini-stat {
  @include card();
  gap: 0.5rem;

  &__heading {
    font-size: 1rem;

    box-shadow: $box-shadow;
  }

  &__value {
    font-size: 1.5rem;
  }
}
