.forecast {
  @include card();
  font-family: "INTER", sans-serif;
  margin-top: 2rem;
  background-color: $secondary-bgcolor;
  border: none;
  align-items: normal;

  &__text {
    color: $font-color;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0.25rem;
    border-bottom: $border;
    font-size: 1rem;
  }
}

.forecast-three-days {
  display: flex;
  flex-direction: column;
  gap: $card-header-gap;
  width: 100%;
}

.forecast-three-day {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: $border;
  gap: $card-header-gap;

  &:last-child {
    border-bottom: none;
  }

  &__day {
    width: 2rem;
    display: flex;
  }

  &__icon {
    display: flex;
    width: 100%;
    gap: $card-header-gap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__icon-pic {
    width: 2.5rem;
  }
}
