.today-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: $secondary-bgcolor; //rgba(255, 250, 250, 0.2);
  margin-top: 2rem;
  padding: 1rem;
  font-family: "INTER", sans-serif;
  backdrop-filter: blur(50px);
  box-shadow: 1px 1px 1px;

  &_condition {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &_hours {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
  }
}

.hourItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.hour-time {
  display: flex;
  flex-direction: column;
  text-align: center;
}
