.today-forecast {
  border: none;
  margin-top: 2rem;
  text-shadow: $text-shadow;
  @include card();

  &_condition {
    @include cardheader();
    backdrop-filter: blur(50px);
    text-shadow: $text-shadow;
  }

  &_hours {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
    backdrop-filter: blur(50px);
  }
}

.hourItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.hour-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.25rem;
}
