$primary-bgcolor: rgb(66, 64, 64);
$secondary-bgcolor: rgb(82, 77, 77);
$font-color: rgb(255, 255, 255);
$elevation: black;
$elevation-2: rgb(71, 67, 67);

$border-radius: 6px;

$text-shadow: 1px 1px 5px #000;
$box-shadow: 1px 1px 5px rgba(167, 157, 157, 0.3);

$border: 1px solid rgba(255, 255, 255, 0.2);

$card-header-gap: 1rem;
