@import "mixins";
@import "variablesColors.scss";
@import "font.scss";
@import "loadingScreen";
@import "detailView";
@import "navigationBar";
@import "todayForecast";
@import "threeDaysForecast";
@import "miniStat";
@import "mainMenu";
@import "mainMenuList";
@import "mainSearchResult";

* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  display: flex;
  justify-content: center;
  //margin-top: 10rem;

  @include largeScreens {
    background-color: #394759;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px #0000004d;
  }
}

#app {
  padding: 1rem;
  min-height: 100vh;
  background-color: linear-gradient(
    0deg,
    $elevation-2 0%,
    $primary-bgcolor 70%
  );

  @include largeScreens {
    width: 400px;
    height: 900px;
    border-radius: $border-radius;
    overflow: auto;
    min-height: unset;
    box-shadow: $box-shadow;
  }
}

.background-color {
  color: $font-color;
  background: linear-gradient(0deg, #404547, #252e3a 51%);
  padding: 1rem;
  font-family: Inter, sans-serif;
}
